@font-face {
  font-family: 'MiFuentePersonalizada'; /* Nombre que usarás para referenciar la fuente */
  src: url('./fonts/IntroRust-Base.otf') format('otf'), 
}


.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'IntroRust-Base', sans-serif; /* sans-serif es una fuente de respaldo */
}


.container{
  position: relative;
  background: url(./nj-art/Background.png);
  height: 22rem;
  width: 40rem;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floaty-image {
  position: absolute;
  height: 8rem;
  top: 0px;
  left: 0px;
  z-index: 1;
  animation: floaty 2s ease-in-out infinite;
}

.reset{
  position: absolute;
  height: 1rem;
  justify-self: center;
  align-self: center;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  top: 14.5rem;
}

.reset h1{
  font-size: 1rem;
}

.reset h1:hover{
  text-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

@keyframes floaty {
  0% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

h1 {
  font-size: 5rem;
}

button {
  background-color: #9A8C98;
  color: white;
  border: none;
  padding: 15px 30px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
}

.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #333;
  border: none;
  padding: 15px;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin-left: 1rem;
  margin-right: 1rem;
}

.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #333;
  border: none;
  padding: 15px;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 4rem; 
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.circle-button:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}